.listitem{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 30px;
    width: 250px;
}
.profilepic{
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.userdetails{
    margin-left: 10px;
}
.name{
    font-size: 18px;
    color: #12022f;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 8px;
}
.role{
    font-size: 14px;
    color: #594d6d;
    margin: 0px;
}
.delete-button{
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: #594d6d;
}
.delete-icon{
    height: 15px;
    width: 15px;
}